.logo_Infinity {
    height: 80px;
    width: 80px;
    position: relative;
    background-image: url("../assets/img/4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ocultar {
    position: relative;
    right: 30px !important;
    height: 30px;
    width: 30px;
}

.oculto {
    display: none;
}

.carro {
    background-color: rgb(22, 20, 20);
}

.contador {
    display: block;
    background-color: red;
    ;
    border-radius: 150px;
    padding: 5px;
    width: 30px;
    text-align: center;
    font-size: 14px;
    margin: -10px 0 0 30px;
}

.card {
    position: relative ;
    display: inline-block;
    gap: 50px;
 
}

:is(.removeProduct.addProduct) {
    height: 20px;
    display: inline;
    position: relative;
    width: 20px;
    gap: 5px;
}

.addChart {
    position: relative;
    top: 10px;
}

span {
    position: relative;
    width: 30px;
}