/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
:root {
  color-scheme: light;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fontt-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -webkit-top-highlight-color: transparent;
  color: var(--infinity-body-text-color, #64748b) !important;
  line-height: var(--infinity-line-height-base, 1.5);
  font-weight: var(--infinity-font-weigth-base, 400);
  background-color: var(--infinity-body-bg-color, #f1f5f9) !important;
  font-family: var(--infinity-font-primary, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  transition: 1000ms;
}
body body::-webkit-scrollbar {
  width: 10px;
  height: 16px;
}
body body::-webkit-scrollbar-thumb {
  background-color: rgba(20, 20, 20, 0.805);
  border-radius: 10px;
}
body body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(169, 169, 169, 0.668);
}
body img {
  display: block;
  max-width: 100%;
}
body header {
  color: var(--infinity-body-bg-color, #f1f5f9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--infinity-heading-text-color, #334155);
  font-weight: 500;
  line-height: 1.25;
  font-family: var(--infinity-font-secondary, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}
h1-first-child,
h2-first-child,
h3-first-child,
h4-first-child,
h5-first-child,
h6-first-child {
  margin-top: 0;
}
h1-last-child,
h2-last-child,
h3-last-child,
h4-last-child,
h5-last-child,
h6-last-child {
  margin-bottom: 0;
}

h1 {
  margin: 32px 0;
  font-size: 40px;
}

h2 {
  margin: 32px 0;
  font-size: 36px;
}

h3 {
  margin: 32px 0;
  font-size: 30px;
}

h4 {
  margin: 20px 0;
  font-size: 24px;
}

h5 {
  margin: 18px 0;
  font-size: 20px;
}

h6 {
  margin: 16px 0;
  font-size: 18px;
}

p {
  color: var(--infinity-body-text-color, #64748b);
  margin: 16px 0;
  font-weight: 1.5;
}
p-first-child {
  margin-top: 0;
}
p-last-child {
  margin-bottom: 0;
}

/*css Variables prefix*/
/*font family*/
/*font sizes*/
/*12px*/
/*14px*/
/*16px*/
/*18px*/
/*20px*/
/*24px*/
/*30*/
/*36px*/
/*48px*/
/*60px*/
/* font weigth*/
/*leading / line heights*/
/*COLORS*/
/*THEME GLOBAL VALUES*/
/*Variables locales*/
.base-layout {
  display: flex;
  flex-direction: column;
}
.base-header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9000;
  position: fixed;
  box-shadow: 0 0 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 1px rgba(10, 10, 10, 0.02);
  border-bottom: 1px solid var(--prefix-header-border-color, #cbd5e1);
  background-color: var(--prefix-header-bg-color, #FFF) !important;
}
.base-headernav.navbar {
  background-color: var(--prefix-header-bg-color, #FFF) !important;
}
.base-headernav.navbar .bg-light {
  background-color: var(--prefix-header-bg-color, #FFF) !important;
}
.base-content {
  flex: 1;
  position: relative;
  margin-top: 15vh;
}
.base-footer {
  display: flex;
  position: relative;
  align-items: center;
  padding: 32px 16px;
  font-size: 16px;
  font-weight: 400;
  bottom: 0;
  background-color: var(--prefix-header-bg-color, #1e293b);
}
.base-footer p {
  color: var(--prefix-header-border-color, #cbd5e1);
  display: flex;
}
.base-footer ul {
  text-align: right;
  display: flex;
  list-style: none;
  gap: 15px;
  left: 120vh;
  bottom: 0px;
  align-items: center;
  justify-content: right;
  text-decoration: none;
  position: relative;
}
.base-footer li a {
  text-decoration: none;
  font-size: 16px;
  color: var(--prefix-header-border-color, #cbd5e1);
}

.logo_Infinity {
  height: 80px;
  width: 80px;
  position: relative;
  background-image: url("../assets/img/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ocultar {
  position: relative;
  right: 30px !important;
  height: 30px;
  width: 30px;
}

.oculto {
  display: none;
}

.carro {
  background-color: rgb(22, 20, 20);
}

.contador {
  display: block;
  background-color: red;
  border-radius: 150px;
  padding: 5px;
  width: 30px;
  text-align: center;
  font-size: 14px;
  margin: -10px 0 0 30px;
}

.card {
  position: relative;
  display: inline-flex;
  gap: 50px;
}

:is(.removeProduct.addProduct) {
  height: 20px;
  display: inline;
  position: relative;
  width: 20px;
  gap: 5px;
}

.addChart {
  position: relative;
  top: 10px;
}

span {
  position: relative;
  width: 30px;
}

/*# sourceMappingURL=App.css.map */
